@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
@font-face {
  font-family: 'BebasNeue';
  src: url(../fonts/BebasNeueBold.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
.button {
  display: inline-block;
  padding: 10px 35px;
  background-color: #000;
  font-family: 'BebasNeue', serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button_inverse {
  color: #000;
  background-color: #ffc61a;
}
section {
  padding: 70px 0;
}
.section-header {
  padding-bottom: 60px;
  text-align: center;
}
.section-header__title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffc61a;
}
.section-header__subtitle {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}
.section-header__subtitle_light {
  color: #fff;
}
.section-header__subtitle_dark {
  color: #000;
}
.header {
  position: relative;
  min-height: 772px;
  color: #fff;
  background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 4fr 6fr;
  grid-template-rows: 1fr 1fr 6fr;
  grid-template-areas: 'header-logo . header-nav' '. . .' 'header-text header-text header-text';
}
.header-logo {
  grid-area: header-logo;
  justify-self: center;
  text-decoration: none;
  color: #fff;
}
.header-logo__title {
  font-size: 40px;
  font-weight: 900;
}
.header-logo__span {
  color: #ffc61a;
  text-transform: uppercase;
}
.header-logo__subtitle {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.header-nav {
  grid-area: header-nav;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
}
.header-nav__item {
  color: #fff;
  font-weight: 900;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 7px;
  border-radius: 30px;
}
.header-nav__item:hover {
  background-color: #ffc61a;
  color: #101010;
}
.header-nav__item:active {
  outline: none;
}
.header-text {
  grid-area: header-text;
  align-self: start;
  justify-self: center;
  font-weight: 900;
  text-align: center;
}
.header-text__title {
  color: #ffc61a;
  font-size: 36px;
  text-transform: uppercase;
}
.header-text__phone {
  font-size: 72px;
  text-transform: uppercase;
}
.header-text__site {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 12px;
}
.header-img {
  position: absolute;
  bottom: -120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.book {
  background-color: #ffc61a;
}
.book-wrap {
  padding-top: 150px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.book-article {
  justify-self: left;
  max-width: 550px;
}
.book-article__title {
  color: #000;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-article__subtitle {
  color: #101010;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-article__text {
  padding: 40px 0;
  text-align: justify;
  color: #101010;
  font-size: 18px;
  font-weight: 400;
}
.book-form {
  justify-self: right;
  width: 422px;
  background-color: #fff;
}
.book-form__header {
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-form__span {
  color: #ffc61a;
}
.book-form__table {
  padding: 30px 30px;
  margin: 0 auto;
}
.book-form__input {
  width: 100%;
  color: #4b4b4b;
  font-size: 20px;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
}
.book-form__input:hover {
  cursor: pointer;
}
.book-form__submit {
  width: 100%;
  margin-top: 20px;
}
.tariffs-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tariff {
  width: 373px;
  padding: 30px;
  text-align: center;
  position: relative;
  background-color: #f5f4f2;
}
.tariff__img {
  max-width: 100%;
  margin-bottom: 30px;
}
.tariff__header {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.tariff__text {
  color: #101010;
  font-size: 18px;
  margin-bottom: 35px;
}
.tariff__price {
  margin-bottom: 35px;
  color: #ffc61a;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
}
.tariff__button {
  color: #000;
  background-color: #ffc61a;
}
.tariff__star {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
  fill: #ffc61a;
  z-index: 1;
}
.tariff:hover {
  background: url(../img/triangle.png) 100% 100%, linear-gradient(transparent 15%, #ffc61a 30%);
  background-repeat: no-repeat;
}
.tariff:hover .tariff__price {
  color: #000;
}
.tariff:hover .tariff__button {
  color: #fff;
  background-color: #000;
}
.tariff:hover .tariff__star {
  display: block;
}
.pluses {
  background-image: url(../img/bg-pluses.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.pluses-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 100px;
}
.plus {
  color: #fff;
  max-width: 80%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.plus:nth-child(even) {
  align-self: right;
}
.plus__img-wrap {
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc61a;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.plus__header {
  color: #ffc61a;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
.plus__text {
  color: #fff;
  font-size: 18px;
}
.plus__button {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
}
.app-wrap {
  display: flex;
  justify-content: space-around;
}
.app-text {
  max-width: 500px;
  margin-top: 80px;
}
.app-text__header {
  color: #000;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 30px;
}
.app-text__text {
  max-width: 70%;
  color: #101010;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 65px;
}
.app-text__link {
  margin-right: 20px;
}
.application {
  padding-bottom: 0;
}
.app-img {
  align-self: flex-end;
}
.call24 {
  text-align: center;
  background-color: #ffc61a;
  color: #000;
}
.call24__text {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.call24__number {
  color: #000;
  font-size: 77px;
  font-weight: 900;
  text-transform: uppercase;
}
.clients {
  background: url(../img/bg-clients.jpg);
  background-size: cover;
}
.clients__wrap {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
.clients__item {
  position: relative;
  max-width: 40%;
  margin: 0 15px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #000;
  padding: 40px;
  color: #fff;
}
.clients__item:after {
  position: absolute;
  content: '';
  border: 15px solid transparent;
  border-top: 15px solid #000;
  bottom: -30px;
}
.clients__item:first-child:after {
  right: 80px;
  border-left: 15px solid #000;
}
.clients__item:last-child:after {
  left: 80px;
  border-right: 15px solid #000;
}
.clients__text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.clients__info {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
  grid-template-areas: 'c-img c-name' 'c-img c-voc';
}
.clients__img {
  grid-area: c-img;
  align-self: center;
}
.clients__name {
  grid-area: c-name;
  align-self: end;
  color: #ffc61a;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
}
.clients__vocation {
  grid-area: c-voc;
  align-self: start;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
.footer {
  background: url(../img/bg-footer.jpg);
  color: #fff;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 90px 100px;
}
.footer__item {
  width: 25%;
}
.footer__header {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.footer__separator {
  height: 8px;
  background-color: #ffc61a;
  margin-bottom: 46px;
}
.footer__text {
  font-size: 18px;
  margin-bottom: 40px;
}
.footer__social-item {
  color: #ffc61a;
  font-size: 20px;
  margin-right: 15px;
}
.footer__app-links {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-areas: 'label1 icon1 .' 'label2 icon2 .';
  grid-row-gap: 20px;
  align-items: center;
}
.footer__app-label {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #ffc61a;
  font-size: 20px;
}
.footer__app-label:ndth-chil(1) {
  grid-area: label1;
}
.footer__app-label:nth-child(2) {
  grid-area: label2;
}
.footer__app-icon {
  font-size: 36px;
}
.footer__app-icon:first-child {
  grid-area: icon1;
}
.footer__app-icon:last-child {
  grid-area: icon2;
}
.footer__copy {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.7px;
}
.contacts {
  font-size: 18px;
}
.contacts__list {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 30px 10px;
}
