@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
@font-face {
  font-family: 'BebasNeue';
  src: url(../fonts/BebasNeueBold.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.button {
  display: inline-block;
  padding: 10px 35px;
  background-color: #000;
  font-family: 'BebasNeue', serif;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.header {
  position: relative;
  min-height: 772px;
  color: #fff;
  background: url(../img/header-bg.png) no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 4fr 6fr;
  grid-template-rows: 1fr 1fr 6fr;
  grid-template-areas: "header-logo . header-nav" ". . ." "header-text header-text header-text";
}
.header-logo {
  grid-area: header-logo;
  justify-self: center;
}
.header-logo__title {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}
.header-logo__span {
  color: #ffc61a;
  text-transform: uppercase;
}
.header-logo__subtitle {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header-nav {
  grid-area: header-nav;
  display: flex;
  justify-content: space-between;
  padding-right: 70px;
}
.header-nav__item {
  color: #fff;
  font-weight: 900;
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3px 7px;
  border-radius: 30px;
}
.header-nav__item:hover {
  background-color: #ffc61a;
  color: #101010;
}
.header-nav__item:active {
  outline: none;
}
.header-text {
  grid-area: header-text;
  align-self: start;
  justify-self: center;
  font-weight: 900;
  text-align: center;
}
.header-text__title {
  color: #ffc61a;
  font-size: 36px;
  text-transform: uppercase;
}
.header-text__phone {
  font-size: 72px;
  text-transform: uppercase;
}
.header-text__site {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 12px;
}
.header-img {
  position: absolute;
  bottom: -120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.book {
  padding-top: 150px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffc61a;
}
.book-article {
  justify-self: center;
  max-width: 550px;
}
.book-article__title {
  color: #000;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-article__subtitle {
  color: #101010;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-article__text {
  padding: 40px 0;
  text-align: justify;
  color: #101010;
  font-size: 18px;
  font-weight: 400;
}
.book-form {
  justify-self: center;
  width: 422px;
  background-color: #fff;
}
.book-form__header {
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}
.book-form__span {
  color: #ffc61a;
}
.book-form__table {
  padding: 30px 30px;
  margin: 0 auto;
}
.book-form__input {
  width: 100%;
  color: #4b4b4b;
  font-size: 20px;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
}
.book-form__input:hover {
  cursor: pointer;
}
.book-form__submit {
  width: 100%;
  margin-top: 20px;
}
