@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@font: "Lato",
sans-serif;
@colorTheme: #ffc61a;
@colorLight: #fff;
@colorDark: #101010;
@colorBlack: #000;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: @font;
}

header {
    position: relative;
    min-height: 772px;
    color: @colorLight;
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-columns: 2fr 4fr 6fr;
    grid-template-rows: 1fr 1fr 6fr;
    grid-template-areas: "header-logo . header-nav" ". . ." "header-text header-text header-text";
}

.header-logo {
    grid-area: header-logo;
    justify-self: center;
    &__title {
        font-size: 40px;
        font-weight: 900;
        color: @colorLight;
    }
    &__span {
        color: @colorTheme;
        text-transform: uppercase;
    }
    &__subtitle {
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.header-nav {
    grid-area: header-nav;
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    &__item {
        color: @colorLight;
        font-weight: 900;
        font-size: 17px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 3px 7px;
        border-radius: 30px;
        &:hover {
            background-color: @colorTheme;
            color: @colorDark;
        }
        &:active {
            outline: none;
        }
    }
}

.header-text {
    grid-area: header-text;
    align-self: start;
    justify-self: center;
    font-weight: 900;
    text-align: center;
    &__title {
        color: @colorTheme;
        font-size: 36px;
        text-transform: uppercase;
    }
    &__phone {
        font-size: 72px;
        text-transform: uppercase;
    }
    &__site {
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: left;
        letter-spacing: 12px;
    }
}

.header-img {
    position: absolute;
    bottom: -120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
